/* el asas */
:root {
    --main-color: #19cab1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

ul {
    list-style: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* el asas */
/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;

}

header .container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

header .container::after {
    content: '';
    width: calc(100% - 30px);
    height: 1px;
    background-color: #2a2a2a;
    position: absolute;
    bottom: 0;
    left: 15px;
}

header nav {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: 0.5s;

}

header nav ul li a:hover {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid;
    border-color: var(--main-color);
    color: #19cab1;
}

header .logo img {
    position: relative;
    width: 40px;


}

header nav {
    flex: 1;
}

header nav .form img {
    position: relative;
    border-style: none;
    width: 30px;
    border-left: 1px solid black;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}

/* end header */
/* start landing */
.landing {
    position: relative;
    background-size: cover;
    background-image: url(./images/gallery\ 8.jpg);
    min-height: 100vh;


}

.landing .text-intro {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    position: absolute;
    text-align: left;
    padding: 30px 100px;
    line-height: 1.8;
    background-color: rgba(255, 255, 255, 0.295);
    max-width: 600px;
}

.landing .text-intro h2 {
    font-size: 30px;
    font-weight: 800;
    color: black
}

.landing .text-intro p {
    font-size: 15px;
    font-weight: 400;
    color: black
}

/* end landing */
/* start services */
.section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    bottom: 0;

}

.section .text-section h2 {
    position: relative;
    text-align: center;
    font-size: 100px;
    font-weight: normal;
    margin-bottom: 0;
    color: #19c8fa;

}

.section .text-section p {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
    color: black
}


.serivces-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.serivces-container .srv-box {
    flex-basis: 50%;
}

.serivces-container .srv-box img {
    max-width: 40px;
}

/* end services */
/* start desgin */
.desgin {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 700px;
    background-image: url(../images/xdasda.jpg);
}

.desgin h2 {
    position: relative;
    top: 50%;
    text-align: center;
    color: white;
    font-size: 40px;
}

.desgin p {
    position: relative;
    top: 50%;
    color: white;
    font-size: 20px;
}

.desgin .text-desgin {
    position: relative;
    text-align: center;
    display: inline;
}

.desgin .img {
    position: relative;
    text-align: right;
}

.desgin .text-desgin .links ul {
    display: flex;
    justify-content: center;

}

.desgin .links {
    position: relative;
    top: 50%;
}

/* end desgin */
/* start portfile */
.portfile {
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
}

.portfile .main-heading h2 {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 60px;
    color: #19c8fa;
}

.portfile .main-heading p {
    text-align: center;
    font-size: 30px;
}

.portfile .shuffle {
    display: flex;
    justify-content: center;
}

.portfile .shuffle li {
    padding: 10px;

}

.portfile .shuffle li.active {
    background-color: #19c8fa;
    color: white;
}

.portfile .img-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfile .img-container .box {
    flex-basis: 25%;
    overflow: hidden;
    position: relative;
}


.portfile .img-container .box img {
    max-width: 100%;
    transition: 0.5s;
    filter: grayscale(0%);
}

.portfile .img-container .box:hover img {
    filter: grayscale(100%);
}

.portfile .img-container .box .caption {
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: 0.5s;
    background-color: white;
    padding: 20px;
    left: 0;
}

.portfile .img-container .box:hover .caption {
    bottom: 0;
}

.portfile .more {
    display: block;
    background-color: #19c8fa;
    color: white;
    padding: 15px 20px;
    margin: 20px auto;
    width: fit-content;
    text-decoration: none;
    margin-top: 50px;
}

/* end portfile */
.video {
    position: relative;
}

.video>video {
    width: 100%;
}

.video .text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 20px 50px;
}

.video .text h2 {
    font-size: 40px;
    color: white;
}

.video .text p {
    font-size: 20px;
    color: white;
    padding: 20px 0;
}

.video .text button {
    background-color: #19c8fa;
    padding: 10px;
    color: white;
    margin: 20px;
    border-color: #19c8fa;
    cursor: pointer;
}

/* <!-- start about --> */
.about {
    padding-top: 100px;
}

.about .main-heading {
    position: relative;

}

.about h2 {
    position: relative;
    font-size: 100px;
    text-align: center;
    color: #19c8fa;
}

.about p {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    line-height: 1.8;
    padding-bottom: 20px;

}

.about img {
    position: relative;
    height: 900px;
    width: 100%;
}

/* <!-- end about --> */
/* start skills */
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(119, 119, 119, 20%);
}

.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.skills .container>div {
    flex-basis: 45%;
}

.skills .container>div>h3 {
    text-align: center;
    font-size: 40px;
    color: #19c8fa;
    text-transform: uppercase;

}

.skills .container>div>p {
    font-size: 20px;
    line-height: 1.5;
    color: black;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
}

.skills .testmonial .contact {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.skills .testmonial .contact img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.skills .testmonial .contact .text {
    color: black;
    border-bottom: 1px solid #ccc;

}

.skills .testmonial .contact .text h3 {
    font-size: 20px;
    color: #19c8fa;
    text-transform: uppercase;
}


.skills .testmonial .contact .text p {
    text-align: left;
    line-height: 1.8;
    margin-bottom: 10px;
    color: black;
    font-weight: 600;
}

.skills .our-skills .prograss .prog-cont {
    background-color: #dedadc;
    height: 30px;
}

.skills .our-skills .prograss h4 {
    margin-bottom: 3px;

}

.skills .our-skills .prograss .prog-cont {
    margin-bottom: 40px;
}

.skills .our-skills .prograss .prog-cont span {
    display: block;
    background-color: #19c8fa;
    height: 100%;
    width: 100%;
    position: relative;
}

.skills .our-skills .prograss .prog-cont span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -22px;
    right: -18px;
}

.skills .our-skills .prograss .prog-cont span::after {
    content: '';

}

/* end skills */
/* start quote */
.quote {
    padding-top: 200px;
    padding-bottom: 300px;
    background-image: url(../images/quote.jpg);
    background-size: cover;
}

.quote q {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.quote div {
    font-size: 40px;
    color: black;
    font-weight: 700;
    text-align: center;
}

/* end quote */
.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(119, 119, 119, 20%);
}

.pricing .main-heading h2 {
    text-align: center;
    font-size: 100px;
    color: #19c8fa;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;

}

.pricing .main-heading p {
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;

}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 30px;
}

.pricing .plans .plan {
    text-align: center;
    background-color: #ccc;

}

.pricing .plan .head {
    padding: 40px 20px;
    border-top: 1px solid #10cabf;
    border-bottom: 1px solid #10cabf;


}

.pricing .container {
    margin-left: 18%;
}

.pricing .plan h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

.pricing .plan span {
    font-size: 50px;
    font-weight: 700;
    position: relative;
    text-align: center;

}

.pricing .plan span::before {
    content: "$";
    position: absolute;
    top: -12%;
    font-size: 20px;
    left: -15%;

}

.pricing .plan span::after {
    content: "/Mo";
    font-size: 20px;
}

.pricing .plan ul {
    position: relative;

}

.pricing .plan ul li {
    padding: 20px;
    border-bottom: 1px solid #10cabf;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.pricing .plan .foot {
    text-align: center;
    position: relative;
    top: -2%;
    padding: 10px 0;

}

.pricing .plan .foot a {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: #19c8fa;
    padding: 10px;
}

.pricing .contact-us {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 33px;
    position: relative;
    color: #19c8fa;
}

.pricing .contact-link {
    display: block;
    width: fit-content;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    position: relative;
    background-color: #19c8fa;
}

footer {
    background: #19c8fa;
    color: white;
}


@media (max-width :576px) {

    header {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    header .container {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .landing {
        width: 100%;
    }

    .pricing {
        width: 100%;
    }

    .pricing .plans {
        display: grid;
        grid-template-columns: 1fr;
    }


    .contact-us {
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .about .main-heading {}

    .about .main-heading h2 {
        font-size: 30px;
    }

    .about .main-heading p {
        font-size: 15px;
    }

    .about .sora img {
        object-fit: cover;
    }

    .skills .testmonial h3 {
        font-size: 10px;
    }

    .pricing .main-heading {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .pricing .container {
        margin: 0;
    }

    .pricing .main-heading h2 {
        font-size: 30px;
    }

    .plans {
        width: 100%;
    }

    .pricing .contact-us {
        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .pricing .contact-link {
        margin: 0 auto;
        text-align: center;


    }

    .video .text {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 15%;
        background-color: rgba(255, 255, 255, 0.295);
        padding: 20px 50px;
    }

    .about {
        padding-top: 40px;
    }
}